.destaques{
    background-color: var(--azul-claro);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.destaques__titulo{
 color: var(--cinza-escuro);
 font-weight: 700;
 font-size: 1.5rem;
 font-family: var(--montserrat);
 text-transform: uppercase;
 text-align: center;
 margin-bottom: 2rem;
}

.destaques__painel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 1.5rem;
}

.destaques__painel-imagem{
    width: 100vw;
    margin-bottom: .5rem;
    box-shadow: 0 5px 10px 5px #00000020;
}

.destaques__painel-texto{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.destaques__botao {
  color: var(--vermelho);
  border-color: var(--vermelho);
  margin: 0 auto;
}

@media  screen and (min-width: 768px) {
    .destaques__botao{
        display: block;
      }
}

@media  screen and (min-width: 1024px){
    .destaques__painel-imagem{
        width: 100%;
    }
}